<!-- welcome -->
<div class="welcome">
  <div class="container">
    <div class="col-md-6 w3ls_welcome_right">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <div class="agileits_w3layouts_welcome_grid">
              <img src="http://www.cvgalapago.es/blog/wp-content/uploads/2016/11/img_la_alimentacion_del_erizo_africano_20306_600-300x300.jpg" alt=" " class="img-responsive" />
            </div>
          </li>
          <li>
            <div class="agileits_w3layouts_welcome_grid">
              <img src="http://www.rodentia.es/blog/wp-content/uploads/2015/09/Retar-a-un-Perro-300x300.jpg" alt=" " class="img-responsive" />
            </div>
          </li>
          <li>
            <div class="agileits_w3layouts_welcome_grid">
              <img src="https://mazovacy.files.wordpress.com/2013/10/lil-bub-2-300x300.jpg" alt=" " class="img-responsive" />
            </div>
          </li>
        </ul>
      </div>
    </div>


    <div class="col-md-6 w3ls_welcome_left">
      <div class="w3ls_welcome_right1">
        <h3 class="agileits-title">Conoce Animalove</h3>
        <h6>La mejor forma de encontrar amigos a tus mascotas
        <span> Amigos Animalisticos </span> Entretención para ellos. </h6>
        <p>Contacta amigos para tus mascotas;
          Encuentra amigos para tus animales haz Match y diviértete.
          Encuentra personas que quieran amigos/pareja para su mascota,
          con los filtros podrás optimizar tus búsquedas,
          ya sea por la ubicación o por la mascota que estés buscando.
          Para poder contactarte con otro dueño, tienen que hacer ¡Match! mutuo,
          para poder acceder a la información de su mascota. Conectate con los dueños,

          te damos la bienvenida a Animalove..</p>
        <div class="w3l_more">
          <a href="#" class="button button--nina" data-text="Conoce más" data-toggle="modal" data-target="#myModal">
            <span>L</span><span>e</span><span>a</span><span>n</span> <span>m</span><span>o</span><span>r</span><span>e</span>
          </a>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>

<!-- //welcome -->

<!-- //Geolocalización -->

<div id="demo"> </div>
<button onclick="getLocation()">Try It</button>

<!-- //Geolocalización -->

	<!-- banner -->
	<div class="w3ls-banner jarallax">
		<div class="w3lsbanner-info">
			<!-- header -->
			<div class="header">
				<div class="container">
					<div class="agile_header_grid">
						<div class="header-mdl agileits-logo"><!-- header-two -->
							<h1><a href="index.html">Animalove<3</a></h1>
						</div>
						<div class="agileits_w3layouts_sign_in">
							<ul>
								<li><a href="#myModal2" data-toggle="modal" class="play-icon">Facebook</a></li>
								<li>Contacto : <span>(+569)56679568</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- //header -->
			<!-- banner-text -->
			<div class="banner-text agileinfo">
				<div class="container">
					<div class="agile_banner_info">
						<div class="agile_banner_info1">
							<h6>Contacta amigos para tu mascotas en un abrir y cerrar de ojos </h6>
							<div id="typed-strings" class="agileits_w3layouts_strings">
								<p>Bienvenido a<i> Animalove</i></p>
								<p><i>Encuentra mascotas</i> Para la diversión de tu la tuya</p>
								<p>Alegra a tu mascota <i>Hoy será un buen día para ella</i></p>
							</div>
							<span id="typed" style="white-space:pre;"></span>
						</div>
					</div>
					<div class="agile_social_icons_banner">
						<ul class="agileits_social_list">
							<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- //banner-text -->
		</div>
	</div>
	<!-- //banner -->
	<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="col-md-4 bnr-agileitsgrids">
			<div class="agileinfo_banner_bottom_pos">
				<div class="w3_agileits_banner_bottom_pos_grid">
					<div class="col-xs-4 wthree_banner_bottom_grid_left">
						<div class="agile_banner_bottom_grid_left_grid hvr-radial-out">
							<i class="fa fa-clone" aria-hidden="true"></i>
						</div>
					</div>
					<div class="col-xs-8 wthree_banner_bottom_grid_right">
						<h4>Animalove</h4>
						<p>El mejor sitio para encontrar amigos para encontrar amigos para tu mascota.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="col-md-4 bnr-agileitsgrids w3grid1">
			<div class="agileinfo_banner_bottom_pos">
				<div class="w3_agileits_banner_bottom_pos_grid">
					<div class="col-xs-4 wthree_banner_bottom_grid_left">
						<div class="agile_banner_bottom_grid_left_grid hvr-radial-out">
							<i class="fa fa-heart-o" aria-hidden="true"></i>
						</div>
					</div>
					<div class="col-xs-8 wthree_banner_bottom_grid_right">
						<h4>Entretención</h4>
						<p>Contactate con otros dueños, para generar cita, para tu compañero de vida.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="col-md-4 bnr-agileitsgrids w3grid2">
			<div class="agileinfo_banner_bottom_pos">
				<div class="w3_agileits_banner_bottom_pos_grid">
					<div class="col-xs-4 wthree_banner_bottom_grid_left">
						<div class="agile_banner_bottom_grid_left_grid hvr-radial-out">
							<i class="fa fa-comment-o" aria-hidden="true"></i>
						</div>
					</div>
					<div class="col-xs-8 wthree_banner_bottom_grid_right">
						<h4>Conectate!</h4>
						<p> y preparate para hacer match!, ellos estarán muy felices!!!, ya lo verás.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //banner-bottom -->

	<!-- news letter -->
	<div class="subscribe jarallax">
		<div class="sub-agileinfo">
			<div class="container">
				<h3 class="agileits-title w3title1">Importante</h3>
				<p>Animal Love es una aplicación sana para generar lazos con gente que quiera que su mascota genere una amistad, todos los derechos reservados culquier
          consulta u observación no duden en comunicarse con la mesa de ayuda al +56956679568.</p>
			</div>
		</div>
	</div>
	<!-- //news letter -->
	<!-- footer -->
	<div class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="footer-grids">
					<div class="col-md-3 col-sm-6 footer-logo">
						<div class="agileits-logo">
							<h2><a href="index.html">ANIMALOVE</a></h2>
						</div>
						<p>Todos tenemos derechos a conocer a otros similares y poder ser feliz a traves de nuevas amistades sanas, que todos seamos felices siempre.</p>
					</div>

					<div class="col-md-3 col-sm-6 footer-grid">
						<h3>Navigation</h3>
						<ul>
							<li><a href="index.html">Inicio</a> </li>
							<li><a href="about.html">Haz Match</a></li>
							<li><a href="gallery.html">Ingresa</a></li>
							<li><a href="icons.html">Animalove</a></li>
							<li><a href="codes.html">Contacto</a></li>
						</ul>
					</div>

					<div class="col-md-3 col-sm-6 footer-grid">
						<h3>Facebook</h3>
						<ul class="w3agile_footer_grid_list">
							<li>Contactanos a través de facebook en el siguiente link <a href="#">http://example.com</a>.
								<span><i class="fa fa-twitter" aria-hidden="true"></i> 02 days ago</span></li>
							<li>Entra a través de tu facebook en el siguiente link <a href="#">http://example.com</a> Ingresa.
							<span><i class="fa fa-twitter" aria-hidden="true"></i> 03 days ago</span></li>
						</ul>
					</div>

          <div class="col-md-3 col-sm-6 footer-list">
            <ul>
            <p>Hasta que uno no descubre lo que supone amar a un animal,
              no acaba de comprender lo que es la nobleza y el despertar
              de unas emociones que pueden llegar a sanarnos el alma.
              Darle amor a un perro, a un gato o a cualquier ser vivo por pequeño,
              inquieto y singular que sea, es enriquecernos y descubrir que pueden
              tener sentimientos tan valiosos como los nuestros..</p>
            </ul>
          </div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<p>© 2018 Animalove. All rights reserved | </p>
			</div>
		</div>
	</div>
	<!-- //footer -->
	<!-- modal-about -->
	<div class="modal bnr-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body modal-spa">
					<img src="images/g2.jpg" class="img-responsive" alt=""/>
					<h4>Podras buscar millones de amigos para tu mascota</h4>
					<p>Si encuentras una mascota con las caracteristicas que te gustan, podras darle me gusta, y al hacerse match podras acceder a la información de su dueño y así podras comunicarte con él para planear una cita de juegos para tu mascota :),</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //modal-about -->
