// Place all the styles related to the pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-nav
{
margin: 0px;
}

.cambios
{
  text-align: center;
}

.card
{
  border: double;
}

.cambios h1
{
  padding-bottom: 20px;
  font-size: 60px;
}
