// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Iniciar_sesion
{
  border: double;
  padding: 30px;
  text-align: center;
}

.Registrate
{
  border: double;
  padding: 30px;
  text-align: center;
}
