<div class="header-nav"><!-- header-three -->
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- top-nav -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav cl-effect-16">
        <li><a href="/pets" class="active" data-hover="Inicio">Inicio</a></li>
        <li><a href="/pets/search" data-hover="Haz Match">Haz Match</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if user_signed_in?%>
            <%= current_user.email %>
            <% else %>
            Registro
            <%end%>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% if user_signed_in?%>
            <%= link_to "Salir", destroy_user_session_path, method: :delete %>
            <% else %>
            <a class="dropdown-item" href="<%= new_user_session_path%>">Ingreso</a>
            <a class="dropdown-item" href="<%= new_user_registration_path%>">Registro</a>
            <% end %>
          </div>
        </li>

      </li>
      <li><a href="gallery.html" data-hover="Animalove">Animalove</a></li>
      <li><a href="contact.html" data-hover="Contacto">Contacto</a></li>
    </ul>
    <div class="clearfix"> </div>
  </div>
</nav>
</div>
